<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Cucumber Framework" parallel="classes" thread-count="2" verbose="2">
  <test name="Cucumber Tests">
    <classes>
      <class name="cars.runners.MainRunner"></class>
    </classes>
  </test>
</suite>